<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>

<section class="header">
	<section style="background: #FB0D1C; height: 100px;"></section>
</section>

<br>
<div class="sectionWrapper">
<section class="container">
	<section class="box1"></section>
	<section class="box2"></section>
	<section class="box3"></section>
</section>
</div>
<br>

<section class="bottom">
	<section style="background: #0F7F11; height: 25%;"></section>
</section>

</body>
</html>